//============================================= Utilities ==================================================

// colours
$background-color: #ECEEEF;
$text-color: #777B7E;
$input-border-color: #D5DDE4;
$input-text-color: #2C3238;

// font size
$default-size: 18px;