//============================================= Utilities ==================================================

// colors
$white: #FFFFFF;
$light-grey: #D5DDE4;
$background-color: #ECEEEF;
$text-color: #777B7E;
$input-text-color: #2C3238;
$light-blue: #5FB6E1;
$error-background-color: #ff4747;
$error-text-color: #b90000;

// font size
$default-size: 18px;