//============================================= Imports ==================================================
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import 'partials/reset';
@import 'partials/_utilities';

//========================================== Main Styling ================================================
* {
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  background: $background-color;
  text-align: center;
  margin: 50px auto;
  max-width: 460px;
  padding: 0 20px;
  font: $default-size 'Varela Round', 'Helvetica', serif;
  color: $text-color;
  // Desktop and Tablet
  @media only screen and (min-width: 768px) {
    margin: 100px auto;
    padding: 0 40px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  margin: 0;
  border-top: 1px solid #D5DDE4;
}

a, a:visited {
  color: $light-blue;
  text-decoration: none;
  cursor: pointer;
}

span {
  color: #2C3238;
}

input {
  font-family: 'Varela Round', Helvetica, serif;
  font-size: 18px;
  padding: 31px 0;
  margin: 10px 0;
  text-align: center;
  width: 360px;
  border-radius: 4px;
  border: 1px solid $light-grey;
  color: $input-text-color;
}

.search-icon {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.city-image {
  margin: 0 auto;
  width: 100%;
  max-width: 280px;
  height: 280px;
  max-height: 280px;
  border-radius: 50%;
  object-fit: cover;
  // Desktop and Tablet
  @media only screen and (min-width: 768px) {
    height: 300px;
    max-height: 300px;
    max-width: 300px;
  }
}

.city-image-wrapper {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.city-name-search {
  margin: 20px 0 0;
  width: 100%;
}

.city-name {
  font-size: 24px;
  padding: 40px 0 20px;
}

.country, .local-time {
  padding-bottom: 15px;
}

.button {
  border-color: $light-blue;
  background: $light-blue;
  color: $white;
  cursor: pointer;
  width: 100%;
}

.error {
  width: 100%;
  padding: 22px 0;
  background: $error-background-color;
  color: $error-text-color;
  position: absolute;
  left: 0;
  top: 0;
}

.forecast {
  width: 100%;
  background: $white;
  border-radius: 4px;
  border: 1px solid $light-grey;
  padding: 40px 0 0;
  margin: -20px 0 0;
  // Desktop and Tablet
  @media only screen and (min-width: 768px) {
    margin: -40px 0 0;
  }
}